
body {
    font-family: arial,sans-serif;
}

h1 {
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 250px;
}

.input {
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style nav bar */
nav {
  font-size: 13px;
}

.navigation, .right-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  background: white;
}

.navigation a, .footernav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}

/* Style footer */ 

ul.footernav{
  width: 100%;
  background: #f2f2f2;
  line-height: 20px;
  border-top: 1px solid #e4e4e4;
}

.footernav a {
  font-size: 14px; 
  color: #5f6368;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.footernav {
  position: fixed;
  bottom: 0;
  z-index: 104;
  width: 100%;
}

/* Style logo */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 109px 0 20px 0;
}

/* Style the search field */

form.search input[type=text] {
  margin: left;
  padding: 10px;
  float: center;
  background: white;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0 12px 12px 0;
  max-width: 80%;
  font-size: 17px;
}

/* Style the submit button */
form.search button {
  float: left;
  width: auto;
  padding: 10px;
  background: white;
  color: gray;
  font-size: 17px;
  border-radius: 12px 0 0 12px;
  border: 1px solid gray;
  border-right: none; /* Prevent double borders */

/* Style button */

center {
  display: block;
  text-align: -webkit-center;
}

.buttonsearch {
  float: auto;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  user-select: none;
}

#button1 {
  align-items: flex-start;
}

#button2 {
  align-items: flex-end;
}

.buttondiv {
  display: flex;
  padding: 18px 0 0 0;
}